@import "../../viriables/style";
.works {
  height: 100vh;
  width: 100%;
  background: $dark;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 0;
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: calc(100% - $paddingPage);

    .headline {
      margin-bottom: 3vw;
      color: #fff;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 35.2px; /* 100.571% */
      letter-spacing: -0.8px;
    }
    .reveal {
      width: 100%;
      

      .works_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 130px;
        border-bottom: 1px solid #222;
        transition: all ease .3s;
        cursor: pointer;

        
        &:first-child {
          border-top: 1px solid #222;
        }

        .works_title {
          font-size: 58px;
          font-style: normal;
          font-weight: 400;
          line-height: 56.32px; /* 97.103% */
          letter-spacing: -1.28px;
        }

        .works_tech {
          color: rgba(255, 255, 255, 0.8);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 175% */
          letter-spacing: 0.36px;
          text-transform: uppercase;
        }
        &:hover{
          background: $light;
          color: $dark;
          padding: 0 2vw;
          .works_tech {
            color: $dark;
          }
        }
       
      }
      
    }
  }
}
