@import "../../viriables/style";
.btn_default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: $light;
  background: transparent;
  transition: all ease 0.2s;
  text-align: center;
  text-transform: capitalize;
  padding: 0 4vw;
  border-radius: 100px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing:initial;
  svg {
    fill: $light;
    margin-left: 5px;
  }

  &:hover {
    background-color: $light;
    color: $dark;
    svg {
      fill: $dark;
    }
  }
}

.light {
  border: 1px solid #010101!important;
  color: $dark;
  background: transparent;
  svg {
    fill: $dark !important;
  }
  &:hover {
    background-color: $dark;
    color: $light;
    svg {
      fill: $light !important;
    }
  }
}
.secundary {
  background: $color;
  color: $light;
  svg {
    fill: $light !important;
  }
  &:hover {
    background-color: $dark;
    color: $light;
  }
}

// @media (min-width: 0px) and (max-width: 600px) {
//   .btn_default {
//     border-radius: 2vw;
//     font-size: 3.5vw;
//     height: 10.5vw;
//   }
// }
