@import "../../viriables/style";
.blog {
  min-height: 90vh;
  height: auto;
  width: 100%;
  background: $dark;
  color: $light;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 70px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: calc(100% - $paddingPage);
    padding-top: 50px;
    a{
      width: 100%;
      .blog_post {
        padding: 30px 0;
        border-bottom: 1px solid $border;
        transition: all ease 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        span{
          text-transform: uppercase;
          font-size: 7px;
          display: block;
          margin-bottom: 10px;
          color: $color;
          letter-spacing: 3px;
                    }
        h1 {
          width: calc(60% - 50px);
          margin-bottom: 30px;
          text-transform: capitalize;
        }
        p {
          width: calc(40% - 50px);
          color: $textColor;

        }
        &:hover {
          background: $light;
          color: $dark;
          padding-left: 2vw;
          padding-right: 2vw;
        }
      }
    }

  }
}
